/** biome-ignore-all lint/suspicious/noDuplicateProperties: webkit cascade */
@import "tailwindcss";

@theme {
  /* --color-rescript-50: oklch(97% 0.02 27);
  --color-rescript-100: oklch(93% 0.04 27);
  --color-rescript-200: oklch(87% 0.07 27);
  --color-rescript-300: oklch(79% 0.12 27);
  --color-rescript-400: oklch(71% 0.16 27);
  --color-rescript-500: oklch(63% 0.19 27);
  --color-rescript-600: oklch(55% 0.17 27);
  --color-rescript-700: oklch(47% 0.15 27);
  --color-rescript-800: oklch(39% 0.12 27);
  --color-rescript-900: oklch(31% 0.09 27);
  --color-rescript-950: oklch(23% 0.06 27); */
  --font-anon: Anonymous Pro, monospace;
  --font-arch: Architects Daughter, cursive;
  --font-flow: Indie Flower, cursive;
  --font-fred: Fredericka the Great, cursive;
  --font-luck: Luckiest Guy, cursive;
  --font-over: Overpass, sans-serif;
  --font-perm: Permanent Marker, cursive;
}

.decay-mask {
  mask-image: url("../assets/decaying.webp");
}

.homemob {
  background:
    image-set(
      url("../assets/home/mob1x.webp") 1x,
      url("../assets/home/mob2x.webp") 2x
    )
    no-repeat center / cover;
}

.landingmob {
  background:
    image-set(
      url("../assets/landing/mob1x.webp") 1x,
      url("../assets/landing/mob2x.webp") 2x
    )
    no-repeat center / cover;
}

.lobbymob {
  background:
    image-set(
      url("../assets/lobby/mob1x.webp") 1x,
      url("../assets/lobby/mob2x.webp") 2x
    )
    top / cover;
}

@media screen and (min-width: 768px) {
  .hometab {
    background:
      image-set(
        url("../assets/home/tab1x.webp") 1x,
        url("../assets/home/tab2x.webp") 2x
      )
      no-repeat center / cover;
  }
  .landingtab {
    background:
      image-set(
        url("../assets/landing/tab1x.webp") 1x,
        url("../assets/landing/tab2x.webp") 2x
      )
      no-repeat center / cover;
  }
  .lobbytab {
    background:
      image-set(
        url("../assets/lobby/tab1x.webp") 1x,
        url("../assets/lobby/tab2x.webp") 2x
      )
      top / cover;
  }
}

@media screen and (min-width: 1440px) {
  .homebig {
    background:
      image-set(
        url("../assets/home/big1x.webp") 1x,
        url("../assets/home/big2x.webp") 2x
      )
      no-repeat center / cover;
  }
  .landingbig {
    background:
      image-set(
        url("../assets/landing/big1x.webp") 1x,
        url("../assets/landing/big2x.webp") 2x
      )
      no-repeat center / cover;
  }
  .lobbybig {
    background:
      image-set(
        url("../assets/lobby/big1x.webp") 1x,
        url("../assets/lobby/big2x.webp") 2x
      )
      top / cover;
  }
}
