/** biome-ignore-all lint/suspicious/noDuplicateProperties: webkit cascade */
@import "tailwindcss";

@theme {
  /* --color-rescript-50: oklch(97% 0.02 27);
  --color-rescript-100: oklch(93% 0.04 27);
  --color-rescript-200: oklch(87% 0.07 27);
  --color-rescript-300: oklch(79% 0.12 27);
  --color-rescript-400: oklch(71% 0.16 27);
  --color-rescript-500: oklch(63% 0.19 27);
  --color-rescript-600: oklch(55% 0.17 27);
  --color-rescript-700: oklch(47% 0.15 27);
  --color-rescript-800: oklch(39% 0.12 27);
  --color-rescript-900: oklch(31% 0.09 27);
  --color-rescript-950: oklch(23% 0.06 27); */
  --font-anon: Anonymous Pro, monospace;
  --font-arch: Architects Daughter, cursive;
  --font-flow: Indie Flower, cursive;
  --font-fred: Fredericka the Great, cursive;
  --font-luck: Luckiest Guy, cursive;
  --font-over: Overpass, sans-serif;
  --font-perm: Permanent Marker, cursive;
}

/* * {
  margin: 0;
  padding: 0;
  list-style-type: none;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
} */

.decay-mask {
  -webkit-mask-image: url("../assets/decaying.webp");
  mask-image: url("../assets/decaying.webp");
}

.bodmob {
  background:
    -webkit-image-set(
      url("../assets/mob1x.webp") 1x,
      url("../assets/mob2x.webp") 2x
    )
    no-repeat center / cover;
  background:
    image-set(url("../assets/mob1x.webp") 1x, url("../assets/mob2x.webp") 2x)
    no-repeat center / cover;
}

@media screen and (min-width: 768px) {
  .bodtab {
    background:
      -webkit-image-set(
        url("../assets/tab1x.webp") 1x,
        url("../assets/tab2x.webp") 2x
      )
      no-repeat center / cover;
    background:
      image-set(url("../assets/tab1x.webp") 1x, url("../assets/tab2x.webp") 2x)
      no-repeat center / cover;
  }
}

@media screen and (min-width: 1440px) {
  .bodbig {
    background:
      -webkit-image-set(
        url("../assets/big1x.webp") 1x,
        url("../assets/big2x.webp") 2x
      )
      no-repeat center / cover;
    background:
      image-set(url("../assets/big1x.webp") 1x, url("../assets/big2x.webp") 2x)
      no-repeat center / cover;
  }
}
