/* @import url("https://fonts.googleapis.com/css2?family=Overpass:wght@600&display=swap&text=%E2%86%90%E2%86%91%E2%86%93"); */

.leader {
  mask-size: cover;
  mask-position: center;
  mask-repeat: no-repeat;
}

.downArrow:after {
  content: "↓";
}

.upArrow:after {
  content: "↑";
}

.leadermob {
  background:
    image-set(
      url("/assets/leaderboard/mob1x.webp") 1x,
      url("/assets/leaderboard/mob2x.webp") 2x
    )
    no-repeat center / cover;
  mask-image: image-set(
    url("/assets/leaderboard/mobmask1x.webp") 1x,
    url("/assets/leaderboard/mobmask2x.webp") 2x
  );
}

@media screen and (min-width: 768px) {
  .leadertab {
    background:
      image-set(
        url("/assets/leaderboard/tab1x.webp") 1x,
        url("/assets/leaderboard/tab2x.webp") 2x
      )
      no-repeat center / cover;
    mask-image: image-set(
      url("/assets/leaderboard/tabmask1x.webp") 1x,
      url("/assets/leaderboard/tabmask2x.webp") 2x
    );
  }
}

@media screen and (min-width: 1440px) {
  .leaderbig {
    background:
      image-set(
        url("/assets/leaderboard/big1x.webp") 1x,
        url("/assets/leaderboard/big2x.webp") 2x
      )
      no-repeat center / cover;
    mask-image: image-set(
      url("/assets/leaderboard/bigmask1x.webp") 1x,
      url("/assets/leaderboard/bigmask2x.webp") 2x
    );
  }
}
