@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

.dot::after {
  content: "⋅";
}

.game0 {
  background-image: image-set(
    url("../../assets/games/troldslottet1x.webp") 1x,
    url("../../assets/games/troldslottet2x.webp") 2x
  );
}

.game1 {
  background-image: image-set(
    url("../../assets/games/huldra1x.webp") 1x,
    url("../../assets/games/huldra2x.webp") 2x
  );
}

.game2 {
  background-image: image-set(
    url("../../assets/games/svaelg1x.webp") 1x,
    url("../../assets/games/svaelg2x.webp") 2x
  );
}

.game3 {
  background-image: image-set(
    url("../../assets/games/korn1x.webp") 1x,
    url("../../assets/games/korn2x.webp") 2x
  );
}

.game4 {
  background-image: image-set(
    url("../../assets/games/dammen1x.webp") 1x,
    url("../../assets/games/dammen2x.webp") 2x
  );
}

.game5 {
  background-image: image-set(
    url("../../assets/games/fossen1x.webp") 1x,
    url("../../assets/games/fossen2x.webp") 2x
  );
}

.game6 {
  background-image: image-set(
    url("../../assets/games/pluk1x.webp") 1x,
    url("../../assets/games/pluk2x.webp") 2x
  );
}

.game7 {
  background-image: image-set(
    url("../../assets/games/spring1x.webp") 1x,
    url("../../assets/games/spring2x.webp") 2x
  );
}

.game8 {
  background-image: image-set(
    url("../../assets/games/troldspor1x.webp") 1x,
    url("../../assets/games/troldspor2x.webp") 2x
  );
}

.game9 {
  background-image: image-set(
    url("../../assets/games/bear1x.webp") 1x,
    url("../../assets/games/bear2x.webp") 2x
  );
}

.bodchmob {
  background:
    image-set(
      url("../../assets/lobby/mob1x.webp") 1x,
      url("../../assets/lobby/mob2x.webp") 2x
    )
    top / cover;
}

.bodleadmob {
  background:
    image-set(
      url("/assets/leaderboard/mob1x.webp") 1x,
      url("/assets/leaderboard/mob2x.webp") 2x
    )
    no-repeat center / cover;
}

@media screen and (min-width: 768px) {
  .bodchtab {
    background:
      image-set(
        url("../../assets/lobby/tab1x.webp") 1x,
        url("../../assets/lobby/tab2x.webp") 2x
      )
      top / cover;
  }

  .bodleadtab {
    background:
      image-set(
        url("/assets/leaderboard/tab1x.webp") 1x,
        url("/assets/leaderboard/tab2x.webp") 2x
      )
      no-repeat center / cover;
  }
}

@media screen and (min-width: 1440px) {
  .bodchbig {
    background:
      image-set(
        url("../../assets/lobby/big1x.webp") 1x,
        url("../../assets/lobby/big2x.webp") 2x
      )
      top / cover;
  }

  .bodleadbig {
    background:
      image-set(
        url("/assets/leaderboard/big1x.webp") 1x,
        url("/assets/leaderboard/big2x.webp") 2x
      )
      no-repeat center / cover;
  }
}
